{% extends "layouts/base.html" %}

{% block title %}Calculate{% endblock %}

{% block content %}
<p>Calculator:</p>

<form method="post">
  <label>
    X:
    <input type="number" value="{{ x }}" name="x" id="x">
  </label>

  <label>
    Y:
    <input type="number" value="{{ y }}" name="y" id="y">
  </label>

  <label>
    <input type="radio" value="Add" name="action" id="add" {% if action == "Add" %}checked{% endif %} /> Add
  </label>
  <label>
    <input type="radio" value="Subtract" name="action" id="subtract" {% if action == "Subtract" %}checked{% endif %} /> Subtract
  </label>
  <label>
    <input type="radio" value="Multiply" name="action" id="multiply" {% if action == "Multiply" %}checked{% endif %} /> Multiply
  </label>
  <label>
    <input type="radio" value="Divide" name="action" id="divide" {% if action == "Divide" %}checked{% endif %} /> Divide
  </label>

  <input type="submit" value="Calculate" />
</form>


{% if result %}
<p class="result">The answer is: {{ result }}</p>
{% endif %}

{% endblock %}
